# 源码文件统一 LF
*.java text eol=lf
*.xml text eol=lf
*.properties text eol=lf
*.sql text eol=lf
*.js text eol=lf
*.vue text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.html text eol=lf
*.css text eol=lf

# 二进制文件不改换行
*.jar binary
*.png binary
*.jpg binary
*.ico binary
*.docx binary
*.pdf binary
